@import url(https://fonts.google.com/?sort=popularity);

.special-paragraph{
    font-size: 35px;
    }

body {
    background-image: url(websitebackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

.btn-primary {
    background-color:white;
    border: none;
    color:#555555;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: black; /* Green */
    color: white;
  }
  