@import url(https://fonts.google.com/?sort=popularity);


body {
    background-image: url(websitebackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 }

h1{
    font-family:'Verdana';
    color: #707070;
    font-size: 30px;

}
p{
    font-family:'Verdana';
    color: #707070;
    font-size: 20px;

}
h2{
    font-family:'Verdana';
    color: #707070;
    font-size: 35px;
}
h3{
    font-family:'Verdana';
    color: #707070;
    font-size: 35px;
   
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }